*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color:red ;
    line-height: 100px;
    width: auto;
    
}

#logo{
    vertical-align: center;
    padding: 10px;
    margin-right: 10px;
    

}
.body{
    background-color:green;
}
.container{
    width: 40%;
    height: 500px;
    border: 1px solid red;
    background-color: yellow;
    margin-left: 400px;
    margin-top: 50px;
    margin-right: 400px;
    border-radius: 10px;
}